.logo {
  width: 90%;
  height: auto;
  margin : 5% 2%;
}

.container {
  width  : 80%;
  height : 25%;
  margin : 50% 7%;
}

.button {
  font-size : 12pt;
}

.button--action {
  height           : 30px;
}

.form__input {
  width     : 40%;
  font-size : 10pt;
}

.form__label {
  padding-top : 8px;
  text-shadow : 0px 0px 3px #000;
  font-size   : 10pt;
  font-weight : bold;
}
